body,
body * {
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;

  margin: 0;
}

body {
  font-family: cursive;
}

.main-header {
  width: 1000px;
  margin: 0 calc(50% - 500px);
  width: 100%;
  background-color: #f8f8f7;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-nav {
  margin-left: 100px;
}
.logo {
  margin-top: 10px;
  width: 100px;
  padding-bottom: 10px;
  object-fit: contain;
  object-position: center;
}

.menu-link {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 10px;
  text-decoration: none;

  color: #4d5457;
}
.content {
  background-color: #f2f2f2;
  width: 1000px;
  margin: 0 calc(50% - 500px);
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  row-gap: 100px;
  padding: 80px;
}

.content > .main-img {
  width: 600px;
  display: flex;

  background-color: #fff;
}
.content > .text {
  width: 400px;
  gap: 20px;
}

.content > .text > .title {
  font-size: 25px;
  line-height: 20px;
  color: #4d5457;
  padding-bottom: 10px;
}
.content > .text > .description {
  font-size: 20px;
  line-height: 30px;
  color: #4d5457;
}

.question {
  font-size: 20px;
  color: #80cec1;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
  margin: 0 calc(50% - 500px);
  position: relative;
  background-color: #15b49e;
  width: 100%;
  bottom: 0;
  margin-left: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.right {
  display: flex;
  flex-direction: row;
  background-color: #15b49e;
  font-family: cursive;
  font-size: 10px;
  width: 200px;
  margin-left: 40px;
  color: #fff8;
  padding: 10px;
  border: 2px solid transparent;
}
.socialMedia {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  gap: 30px;
}

.main-footer > .socialMedia > .fa {
  padding: 10px;
  font-size: 20px;
  width: 45px;
  text-align: center;
  text-decoration: none;

  color: white;
  border-radius: 90px;
  border: 2px solid #fff8;
}
.main-footer > .socialMedia .fa:hover {
  border-color: #fff;
  color: #fff;
}

@media (max-width: 1100px) {
  .main-header,
  .content,
  .main-footer {
    width: 800px;
    margin: 0 calc(50% - 400px);
  }
}

@media (max-width: 900px) {
  .main-header,
  .content,
  .main-footer {
    width: 600px;
    margin: 0 calc(50% - 300px);
  }
}

@media (max-width: 700px) {
  .main-header,
  .content,
  .main-footer {
    width: 400px;
    margin: 0 calc(50% - 200px);
  }
}

@media (max-width: 700px) {
  .content > .main-img,
  .content > .text {
    width: 300px;
    margin: 0 calc(50% - 150px);
  }
}

@media (max-width: 440px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-header,
  .content,
  .main-footer {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 440px) {
  .main-header > .header-nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
    flex-basis: auto;
  }
}
