body {
  background-color: #f2f2f2;
}
main {
  background-color: red;
  width: 800px;
  margin-left: calc(50% - 400px);
  padding-bottom: 150px;
  float: left;
  display: inline-block;
}

header {
  display: inline-block;
  width: 800px;
  margin-left: calc(50% - 400px);

  background-color: #f8f8f7;
}
nav {
  width: 400px;
  margin-left: 100px;
  display: inline-block;
  float: right;
  background-color: #f8f8f7;
}
.logo {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  width: 120px;

  padding-bottom: 20px;
}
a {
  display: inline-block;
  float: left;
  margin-top: 20px;
  margin-left: 10px;

  text-decoration: none;
  font-family: cursive;
  color: #4d5457;
}

img {
  width: 800px;
}
div {
  width: 600px;
  font-family: cursive;
  padding-top: 10px;
  text-align: left;
  margin-left: 200px;
}
h1 {
  font-size: 25px;
  line-height: 20px;
  color: #4d5457;
}
p {
  font-size: 20px;
  line-height: 20px;
  color: #4d5457;
}

.home {
  font-size: 20px;
  color: #80cec1;
  line-height: 10px;
}

footer {
  background-color: #15b49e;
  width: 800px;
  margin-left: calc(50% - 400px);
  float: left;
  display: inline-block;
}
.right {
  background-color: #15b49e;
  float: left;
  font-family: cursive;
  font-size: 10px;
  width: 200px;
  display: inline-block;
  margin-left: 40px;
  color: white;
}

.facebook {
  color: white;
  float: right;
  margin-right: 100px;
}
.facebook:hover {
  color: blue;
}
.Linkedin {
  color: white;
}
.Linkedin:hover {
  color: blue;
}
