body {
  background-color: #f1f1f1;
}
main {
  background-color: #f2f2f2;
  width: 800px;
  margin-left: calc(50% - 400px);
  padding-bottom: 150px;
  float: left;
}

header {
  display: inline-block;
  width: 800px;
  margin-left: calc(50% - 400px);

  background-color: #f8f8f7;
}
nav {
  width: 400px;
  margin-left: 100px;
  display: inline-block;
  float: right;
  background-color: #f8f8f7;
}
.logo {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: 40px;
  width: 100px;
  padding-bottom: 20px;
}
a {
  display: inline-block;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 10px;
  text-decoration: none;
  font-family: cursive;
  color: #4d5457;
}

img {
  width: 800px;
}
div {
  width: 800px;
  font-family: cursive;
  padding-top: 10px;
  margin-left: 200px;
  text-align: left;
  margin-bottom: 20px;
}
h1 {
  font-size: 25px;
  line-height: 20px;
  color: #4d5457;
}
p {
  font-size: 20px;
  line-height: 10px;
  color: #4d5457;
  text-align: left;
}

.home {
  font-size: 20px;
  color: #80cec1;

  display: inline-block;
}

footer {
  background-color: #15b49e;
  width: 800px;
  margin-left: calc(50% - 400px);
  float: left;
  display: inline-block;
}
.right {
  background-color: #15b49e;
  float: left;
  font-family: cursive;
  font-size: 8px;
  width: 200px;
  display: inline-block;
  margin-left: 40px;
  margin-top: 25px;
  color: white;
}
.socialMedia {
  width: 250px;
  display: inline-block;
  float: right;
}

.fa {
  padding: 5px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-color: white;
  color: white;
  border-radius: 90px;
  border-style: solid;
}
.fa:hover {
  border-color: blue;
  color: blue;
}
